<ul>
<% @allemails.each do |email| %>
  <li> <%= email %></li>
<% end %>
  </ul>

# @students.each do |student| %>
#   <li>
#   <a href="/students/<%= student %>">
#   <img src="http://www.gravatar.com/avatar/<%= student %>" alt="pic">

#     </a>
#    </li>

<% @students.each do |student| %>
  <li>
    <a href="/students/<%= student %>">
      <img src="http://www.gravatar.com/avatar/<%= student %>" alt="picture">
    </a>
  </li>
<% end %>
</ul>

