
<h1>Entroll a Student</h1>
<%= form_for @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Enroll' %>
<% end %>

<h1>Welcome to the Sorting Hat!</h1>
<div>
<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>
</div>
