<div class="movie">
      <p>Title: <%= movie.title %></p>
      <img src="<%= movie.poster_image %>" >
      <p>Purchase Price: $<%= movie.purchase_price %></p>
      <p>Rental Price: $<%= movie.rental_price %></p>
      <p>Available On: <%= movie.available_on %></p>
      <p>Rating: <%= movie.rating %></p>
      <p>Length: <%= movie.length %></p>
      <p>Description: <%= movie.description %></p>
      <%= link_to("Go to this movie.", movie_path(movie)) %>
      <%= button_to "Delete this movie.", movie_path(movie), method: "delete", class: "delete_btn" %>
    </div>




