<h1><%= @author.name %></h1>
<p><%= @author.born_on %> - <%= @author.died_on %></p>
<p><%= @gender %></p>
<h2>Books</h2>
<ul>
    <% @author.books.each do |book| %>
  <li>
    <%= link_to book.title, book_path(book) %></li>
    <% end %>
</ul>


